* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.home {
    height: 110%;
    width: 100%;
    background-color: gainsboro;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 8%;
    padding-left: 8%;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    
}
.logo {
    color: black;
    font-size: 25px;
    letter-spacing: 1px;
    cursor: pointer;
}
span {
    color: red;
}
nav ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a {
    color: black;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
nav ul li a:hover {
    color: red;
    transition: 0.5s;
}
.btn {
    color: black;
    margin-right: -170px;
    font-weight: bold;
}
.btn:hover {
    color: red;
    transition: 0.5s;
}
.bca {
    background-color: red;
    color: white;
    border: 2px solid white;
    font-weight: bold;
    padding: 5px 15px;
    border-radius: 30px;
}
.bca:hover {
    transform: scale(1.2);
    border: 2px solid darkred;
}
.teks {
    text-align: center;
    padding-top: 50px;
}
.mulai {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 550px;
    margin-top: -15px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    border-radius: 20px;
    padding: 2px;
    border: 2px solid black;
}
.mulai:hover {
    transform: scale(1.2);
    border: 2px solid black;
}
.kembali {
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 650px;
    margin-top: -30px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 70px;
    border-radius: 20px;
    padding: 2px;
    border: 2px solid black;
}
.kembali:hover {
    transform: scale(1.2);
    border: 2px solid black;
}
.foto {
    align-items: center;
    justify-content: center;
    
}
.about {
    width: 100%;
    padding: 100px 0;
    margin-top: -40px;
    background-color: rgb(222, 133, 223);
}
.about-me {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.oke {
    float: right;
    margin-right: 150px;
}
.siap {
    text-align: center;
    margin-left: 50px;
    padding-top: 80px;
    font-size: 50px;
}
.yuhu {
    text-align: center;
    padding-left: 120px;
    padding-right: 600px;
    text-indent: 10px;
}
.syeikh {
    margin-top: 40px;
    padding-left: 220px;
    font-size: 50px;
}
.habib {
    margin-top: -57px;
    padding-left: 350px;
    font-size: 50px;
}   
.ustad {
    margin-top: -58px;
    padding-left: 500px;
    font-size: 50px;
}    
.container {
    max-width: 1170px;
    margin: auto;
    
}
.row {
    display: flex;
    flex-wrap: wrap;
}
ul {
    list-style: none;
}
.footer {
    background-color: #24262b;
    padding: 45px 0;
    margin-left: 15px;
}
.footer-col {
    width: 15%;
    padding: 0 5px;
    padding-right: 50px;
}
.footer-col h4 {
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-left: 30px;
    font-weight: 500;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 60px;
}
.footer-col ul li a {
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    margin-left: 30px;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
}
.footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(225, 225, 225,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s;
}
.footer-col .social-links a:hover {
    color: #24262b;
    background-color: #ffffff;
}
